<center><h1>Data Science Tools and Ecosystem<h1></center>

<h2>In this notebook, Data Science Tools and Ecosystem are summarized.<h2>

<h2>Objectives:<h2>
    <p>->Some popular languages of Data Science<p>
    <p>->Library for Data Science<p>
    <p>->Data Science Tools<p>

<h3>Some of the popular languages that Data Scientists use are :</h3>
   <p>1.Python.</p>
    <p>2.R.</p>
    <p>3.SQL.</p>

<h3>Some of the commonly used libraries used by Data Scientists include:<h3>
    <p>1.NumPy<p>
        <p>2.Pandas<p>
            <p>3.Matplotlib<p>

|Data Science Tools|
|---|
|IBM Watson|
|Jupyter Notebook|
|H2OAir|

<h3>Below are a few examples of evaluating arithmetic expressions in Python.<h3>

In [18]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [19]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author<h2>
<p>Shreeyansh kumar<p>